[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
tqdm = "*"
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
requests-html = "*"
streamlit = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
